* {
    box-sizing: border-box;
}
body{
    background-color: rgb(218, 213, 213);
}
header{
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    
    border: 1px solid #CBD5E1;
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
}
.container{
    font-size: 30px;
    color: rgb(238, 238, 240);
    background-color: rgb(21, 13, 63);
    border: 1px solid #CBD5E1;
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
   
}
#taskInput , addTaskBtn{
    font-size: 30px;
   border: 1px solid #CBD5E1;
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
    height: 100px;
    width: 600px;

}
main{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    height: 600px;
    
} 